.error{
	color: red;
	font-style: italic;
	font-weight: 700;
}
.content{
	min-height: 470px;
}

.footer-area{
	background-color:#40bf80;
	text-align: center;
	padding: 20px 0;
	color: #fff;
	margin-top: 20px;

}
.footer-area p{
	margin: 0;
}